:root {
    --light: #faf8f8;
    --dark: #080808; //#141021; //mostly black
    --secondary: #dddddd; //white  
    --tertiary: #000000; //#ff38e4; //black
    --visited: #000000; //#afbfc9; //grayish blue //now it's black
    --primary: #c2b2b2; //#f28482; //gray with red tint
    --gray: #3f3f3f;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
    --highlighted: #faf8f8; //#8446ff88; //?
    --header: #c1c1c1; //#bca1ff
    --title: rgb(1,1,1); //rgb(204,230,255); //rgb(134, 42, 232); //black...
    --scrollbar: gray;
    --scrollbar-track: #DDD;
}

[saved-theme="dark"] {
    --light: #0a0b0b !important; //dark 
    --dark: #000000 !important; //#f7f2fa !important; //reallyblack
    --secondary: #545b5e !important; //GRAYish
    --visited: #181a1b !important; //black
    --tertiary: #181a1b !important; //#e0aeff !important; //black                                  
    --primary: #445b5e !important; //#f58382 !important; //muted forest green
    --gray: #b4acac !important; //#d4d4d4 !important; //another shade of gray 
    --lightgray: #d8d4d4 !important; 
    --outlinegray: #dddddd !important; //white  //#242729 !important; 
    --highlighted: #fffdd0;  //cream 
    --header: #545b5e !important;          //the bar at the top                                       //#070707; //black
    --title: rgb(245,245,245);  //rgb(255, 108, 196); //vivid green   //white smoke
    --scrollbar: rgb(245,245,245); //white smoke
    --scrollbar-track: rgb(245,245,245); //white smoke
}
