// Replace this with your own font imports!
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-body: "Athiti", sans-serif;
  --font-header: "Athiti", sans-serif;
  --font-mono: "Athiti", sans-serif;
}

// Example local font declaration

// @font-face {
//   font-family: "PP Mori";
//   font-style: normal;
//   font-weight: normal;
//   src: url('fonts/PPMori-SemiBold.woff2');
// }
